* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 10%;
    background-color: #24519e;
    ;
}

.heading img {
    height: 60px;
    width: 260px;
}

form {
    display: flex;
    justify-content: center;
    align-content: center;
}

form .container {
    width: 500px;
    margin: 10% 0;
}

form textarea {
    resize: none;
    padding: 5px;
    width: 100%;
    height: 100%;
}

.review {
    border: solid 1px #d3d3d3;
    border-radius: 5px;
    padding: 20px;
}

.col-12 {
    padding: 10px;
}

.col-textarea {
    height: 165px;
}

/* input {
    width: 30px;
} */

input, textarea {
    border-color: #cfcfcf;
}

/* input, textarea:focus {
    outline: none;
} */

.post-review-button {
    color: #ffffff;
    background-color: #24519e;
    border-radius: 3px;
    padding: 8px 20px;
    margin: 20px 0;
}

.post-review-button:hover {
    text-decoration: none;
    color: #ffffff;
}